<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slurpin' Time!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/css/style.css"/>
</head>
<body>

    <div class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <div class="col-8 col-md-7 text-left">     
                    <h1 class="display-4 pt-md-3">It's Slurpin' Time!</h1>
                    <p class="lead py-2">Hungry for Phở?</p>
                    <button type="button" class="btn btn-lg">
                        Add Phở!
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{{body}}}

    <hr>
    <div class="jumbotron jumbotron-fluid text-center py-2">
        <div class="container">
            <img src="/public/assets/img/kisspng-thai-cuisine-pho-noodle-house-vietnamese-cuisine-c-vietnam-food-5b57e1923ff355.794326361532486034262.png" style="width:100px;height:auto"><br>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/public/assets/js/app.js"></script>
</body>
</html>